@page "/bucketobject"
@using MudBlazor
@using DoNetMinIO.Domain.Model.Response
@rendermode InteractiveServer

<PageTitle>Bucket Objects</PageTitle>

<h1>Bucket Objects</h1>
<MudStack Style="width: 100%">
    <MudStack Row="true" StretchItems="StretchItems.All">
        <MudSelect T="BucketResponseDto" Label="Buckets" Variant="Variant.Filled" ValueChanged="@BucketDropDown_Change">
            @if(buckets is not null)
            {
                @foreach (var objBucket in buckets)
                {
                    <MudSelectItem Value="objBucket">@objBucket.Name</MudSelectItem>
                }
            }
        </MudSelect>
        <MudTextField T="string" Label="Custom Folder Path" @bind-Value="txtObjectNewFilePath" HelperText="format : /folderpath/folderpath/" Variant="Variant.Filled"></MudTextField>
    </MudStack>
    <MudFileUpload T="IReadOnlyList<IBrowserFile>"
                   @ref="@_fileUpload"
                   OnFilesChanged="OnInputFileChanged"
                   AppendMultipleFiles="false"
                   Hidden="@false"
                   InputClass="absolute mud-width-full mud-height-full overflow-hidden z-10"
                   InputStyle="opacity:0"
                   tabindex="-1"
                   @ondrop="@ClearDragClass"
                   @ondragenter="@SetDragClass"
                   @ondragleave="@ClearDragClass"
                   @ondragend="@ClearDragClass"
                   MaximumFileCount="1"
                   >
        <ActivatorContent>
            <MudPaper Height="100px"
                      Outlined="true"
                      Class="@_dragClass">
                <MudText Typo="Typo.h6">
                    Drag and drop files here or click
                </MudText>
                @if (!string.IsNullOrEmpty(uploadedFileName))
                {
                    <MudChip T="string"
                             Color="Color.Dark"
                             Text="@uploadedFileName"
                             tabindex="-1" />
                }
            </MudPaper>
        </ActivatorContent>
    </MudFileUpload>
    <MudToolBar Gutters="@false"
                Class="relative d-flex justify-end gap-4">        
        <MudButton Color="Color.Primary"
                   Disabled="@(string.IsNullOrEmpty(uploadedFileName))"
                   OnClick="@UploadBtn_Click"
                   Variant="Variant.Filled">
            Upload
        </MudButton>
        <MudButton Color="Color.Error"
                   Disabled="@(string.IsNullOrEmpty(uploadedFileName))"
                   OnClick="@ClearAsync"
                   Variant="Variant.Filled">
            Clear
        </MudButton>
    </MudToolBar>  
    <MudCard Class="mt-3 p-3">
        <MudStack>
            <h4>Bucket's Object List</h4>
            @if (bucketObjects is not null && bucketObjects.Any())
            {
                <MudDataGrid Items="@bucketObjects" Filterable="false" SortMode="@SortMode.None" Groupable="false">
                    <Columns>
                        <PropertyColumn Property="x => x.BucketName" Title="Bucket Name" />
                        <PropertyColumn Property="x => x.ObjectFileName" Title="Object File Name" />
                        <PropertyColumn Property="x => x.FileSize" Title="Size" />
                        <PropertyColumn Property="x => x.ModifiedDate" Title="Last Modified Date" />
                        <TemplateColumn CellClass="d-flex justify-end" Title="Action" Style="width:50">
                            <CellTemplate>
                                <MudStack Row="true">
                                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Success" OnClick="@(()=>DownloadBtn_Click(context.Item))">Download</MudButton>
                                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Error" OnClick="@(()=>DeleteBucketObjectBtnClick(context.Item.BucketName,context.Item.ObjectFileName))">Delete</MudButton>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            }
            else
            {
                <MudStack Row="true" Justify="Justify.Center">
                   <p>There is no records...</p>
                </MudStack>
            }
        </MudStack>
    </MudCard>
</MudStack>
